/* @media print 
{
   @page
   {
    size: 11in 9.5in;
	width: 11in;
	height: 9.5in;
  }
}
.kertas {
	border: 1px solid;
	width: 11in;height: 9.5in;
	margin-top: 5mm;
	margin-bottom: 50mm;
	margin-left: 1mm;
	margin-right: 10mm;
} */
body{
	font-family: consolas;
	font-size: 12px;
	/* width: 215.7mm;
	height: 139.77mm; */
	/* margin-top: 5mm;
	margin-bottom: 10mm;
	margin-left: 10mm;
	margin-right: 10mm; */
}
.logo{
	/* width: 5px;
	height: 5px; */
}
div.judul{
	line-height: 0.1;
	font-family: 'Times New Roman', Times, serif;
}
.pt{
	width: 99%;
	height: 20px;
	margin: auto;
	text-align: center;
	border: 2px solid;
	font-size: 16px;
	font-family: 'Times New Roman', Times, serif;
}

.kop{
	width: 99.4%;
	text-align: left;
	margin: auto;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	/* border-collapse: collapse; */
	font-size: 12px;
	font-family: 'Times New Roman', Times, serif;
}
td.border_bottom{
	border-bottom: 1px solid black;
}
.part{
	width: 99%;
	text-align: center;
	margin: auto;
	border: 1px solid;
	border-collapse: collapse;
	font-size: 12px;
	font-family: 'Times New Roman', Times, serif;
}
tr.part, th{
	border: 1px solid;
	border-collapse: collapse;
}
th.part{
	border: 1px solid;
	border-collapse: collapse;
}
.total{
	width: 99%;
	margin: auto;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-collapse: collapse;
	font-size: 12px;
	font-family: 'Times New Roman', Times, serif;
}
td.sub{
	border: 1px;
	border-left: 1px solid;
	width: 138px;
}
.judul{
	margin-bottom: 0;
	padding: 0;
	text-align: center;
	line-height: normal;
}
.table{
	width: 90%;
	margin: auto;
	font-size: 12px;
}
.tdkanan{
	text-align: right;
	padding-right: 10px;
}
.detail{
	font-weight: bold; font-size: 18px;text-decoration: underline;
}
